@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  font-size: var(--text-sm);
  text-shadow: none;
  text-decoration: none;
}
